@import url("https://fonts.googleapis.com/css2?family=Antonio:wght@100..700&family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Bayon&family=Chango&family=DM+Serif+Display:ital@0;1&family=Fira+Code:wght@300..700&family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Jua&family=Karla:ital,wght@0,200..800;1,200..800&family=League+Spartan:wght@100..900&family=Martian+Mono:wght@100..800&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Outfit:wght@100..900&family=Pixelify+Sans:wght@400..700&family=Public+Sans:ital,wght@0,100..900;1,100..900&family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Space+Grotesk:wght@300..700&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Space Mono", monospace;
}

button {
	cursor: pointer;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 100vh;
	gap: 50px;
	background-color: #c5e4e7;
}

main {
	width: 60%;
	height: 65%;
	background-color: white;
	border-radius: 25px;
	display: flex;
	padding: 40px;
}

.left {
	width: 50%;
	display: flex;
	flex-direction: column;
}

form {
	display: flex;
	flex-direction: column;
	gap: 50px;
}

.same-div {
	display: flex;
	flex-direction: column;
	width: 90%;
	gap: 10px;
}
.label-input {
	color: #5e7a7d;
	font-weight: 700;
	font-size: 16px;
}

.div-input {
	background-color: #f3f9fa;
	display: flex;
	justify-content: space-between;
	padding: 15px;
	border-radius: 5px;
}

.input-bill {
	width: 100%;
	background-color: transparent;
	border: none;
	text-align: right;
	font-size: 24px;
	font-weight: 700;
	color: #00474b;
	border: none;
	outline: none;
}

.input-bill:focus {
	outline: none;
}

.grid-tip {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(2, 1fr);
	grid-gap: 10px;
}

.input-tip {
	width: 90%;
	text-align: center;
	font-size: 24px;
	font-weight: 700;
	color: #547878;
	background-color: #f3f9fa;
	border: none;
}
.tip-btn {
	background-color: #00474b;
	border: none;
	padding: 10px;
	width: 90%;
	color: white;
	font-size: 24px;
	font-weight: 700;
	text-align: center;
	border-radius: 5px;
}
.tip-btn:focus {
	background-color: #9fe8df;
	color: #00474b;
}
.right {
	display: flex;
	flex-direction: column;
	width: 50%;
	background-color: #00474b;
	border-radius: 15px;
	padding: 30px;
	gap: 180px;
	color: white;
}
.tip {
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 100%;
	justify-content: space-between;
}
.left-tip {
	display: flex;
	flex-direction: column;
}
span {
	font-weight: 700;
	font-size: 13px;
	color: #7f9d9f;
}
.total-normal {
	font-size: 16px;
	font-weight: 700;
}
.total-price {
	font-size: 48px;
	font-weight: 700;
	letter-spacing: 1px;
	color: #26c2ae;
}

.left-total {
	display: flex;
	flex-direction: column;
	width: 50%;
}

.total {
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 100%;
	justify-content: space-between;
}

.total-normal {
	width: 50%;
}

.reset {
	padding: 10px;
	border-radius: 5px;
	font-size: 20px;
	font-weight: 700;
	border: none;
}

.reset:disabled {
	background-color: #0d686d;
	color: #00474b;
}

.btnres {
	background-color: #9fe8df;
	color: #00474b;
}
